<ion-header color="primary">
  <ion-toolbar>
    <ion-title>
      Lista de Alumnos del Fondo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/crear']" fill="clear">
        <ion-icon  name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let item of alumnos"  >
    <!-- Multi-line sliding item with icon options on both sides -->
    <ion-item-sliding id="item100">
      <ion-item href="#">
        <ion-label>
          <h2 style="font-weight: bold">Código del estudiante: {{item.idAlumno}}</h2>
          <p>Fecha Nacimiento: {{item.fechaNacimiento}}</p>
          <p>Padre: {{item.nombrePadre}}</p>
          <p>Madre: {{item.nombreMadre}}</p>
        </ion-label>
        <ion-note slot="end">
          {{item.grado}}
          <br>
          {{item.seccion}}
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option [routerLink]="['/editar', item.idAlumno]"        >
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
